extends ../layout
block style
    link(rel='stylesheet', href='/bootstrap/css/datepicker.css')
    style
        .chart{
            min-width: 400px;
            height: 400px;
            margin: 0 auto ;
        }

        .maps{
            min-width: 400px;
            height: 600px;
            margin: 0 auto ;
            border: 1px solid #b8bcc0;
            margin-bottom: 40px;
        }
        .labels {
            color: black;
            background-color: #fff;
            font-weight: bold;
            text-align: center;
            width: 40px;
            border: 1px solid #ccc;
            margin-bottom: 40px;
        }

block body
    include ../includes/banner
    nav.nav
        div.navContent
            div.header
                h1 访问统计
                ul.tabs
                    li: a.selected 流量统计
                    li: a 地址分布
                    li: a 公司访问
            include ../includes/login
    div.main
        section
            div#dayChart.chart
        section(style='display:none;')
            form.form-inline
                label(for="mapStartDate",style="margin-right:5px;") 时间：
                input#mapStartDate.input-small(type="text")
                label(for="mapEndDate",style="margin-right:5px;margin-left:5px;") -
                input#mapEndDate.input-small(type="text")
                label(for="mapSite",style="margin-right:5px;margin-left:15px;") 站点：
                select#mapSite
                    for site in sites
                        option(value="#{site._id}") #{site.companyName}-#{site.siteName}-#{site.host}

                button#mapSubmit.btn.btn-small.btn-primary(type="button",style="margin-left:10px;") 查询
            div#map_canvas.maps
        section(style='display:none;')
            form.form-inline
                label(for="cpyStartDate",style="margin-right:5px;") 时间：
                input#cpyStartDate.input-small(type="text")
                label(for="cpyEndDate",style="margin-right:5px;margin-left:5px;") -
                input#cpyEndDate.input-small(type="text")
                label(for="cpySite",style="margin-right:5px;margin-left:15px;") 站点：
                select#cpySite
                    option(value="") 全部
                    for site in sites
                        option(value="#{site._id}") #{site.companyName}-#{site.siteName}-#{site.host}

                button#cpySubmit.btn.btn-small.btn-primary(type="button",style="margin-left:10px;") 查询
            table.table.table-bordered.table-striped
                thead
                    tr
                        th(style="text-align: center;") #行号
                        th(style="text-align: center;") 时间
                        th(style="text-align: center;") 公司名
                        th(style="text-align: right;") 访问量(PV)
                        th(style="text-align: center;") 页面访问明细
                tbody#companyBody
                    tr
                        td(colspan="5",style="text-align: center;") 正在加载...
            div.pagination.pagination-right
                ul#companyPaginator
                    li
                        a(href="#") «
                    li
                        a(href="#") 1
                    li
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#") 4
                    li
                        a ...
                    li
                        a(href="#") 12
                    li
                        a(href="#") »
            div#pageListModal.modal.hide(tabindex="-1", role="dialog",aria-labelledby="pageListLabel",aria-hidden="true")
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") ×
                    h3#pageListLabel 页面访问列表
                div.modal-body
                    p 以下为
                        span#pageCompany(style="font-weight:bold;margin: 0 2px 0 4px;")
                        span#pageDate(style="font-weight:bold;margin: 0 4px 0 2px;")
                        | 的页面访问统计：
                    ul#pageList
                        li 正在载入...
                div.modal-footer
                    button.btn(data-dismiss="modal",aria-hidden="true") 关闭


block script
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBrDF1WpWGJlzMyNUs4rOZ-Lgz3nNYb6PQ&sensor=true')
    script(src='/js/markerwithlabel_packed.js')
    script(src='/js/highcharts/highcharts.js')
    script(src='/bootstrap/js/bootstrap-datepicker.js')
    script(src='/bootstrap/js/bootstrap-datepicker.zh-CN.js')
    script
        var map;
        var markers = [];
        $(function () {
            $('#mapStartDate').datepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN'
            });
            $('#mapStartDate').datepicker('setDate',new Date());
            $('#mapEndDate').datepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN'
            });
            $('#mapEndDate').datepicker('setDate',new Date());

            $('#mapSubmit').on('click', function(){
                if(map.getZoom()>6){
                    loadMapMarker('市');
                }else if(map.getZoom()<=6 && map.getZoom()>3){
                    loadMapMarker('省');
                }else if(map.getZoom()<=3){
                    loadMapMarker('国');
                }
            });

            $('#cpyStartDate').datepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN'
            });
            $('#cpyStartDate').datepicker('setDate',new Date());

            $('#cpyEndDate').datepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN'
            });
            $('#cpyEndDate').datepicker('setDate',new Date());
            $('#cpySubmit').on('click', function(){
                loadCompany(0,20);
            });

            $('.tabs a').on("click", function(e){
                $('.tabs a').removeClass('selected');
                $(this).addClass('selected');
                var index = $('.tabs a').index($(this));
                $('.main section').hide().eq(index).show();
                if(index === 1 && !map){
                    var pos = new google.maps.LatLng(36.6509970, 117.1204970);
                    var mapOptions = {
                      center: pos,
                      zoom: 4,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                    loadMapMarker('省');
                    google.maps.event.addListener(map, 'zoom_changed', function() {
                        if(map.getZoom()>6 && map.level != '市'){
                            loadMapMarker('市');
                        }else if(map.getZoom()<=6 && map.getZoom()>3 && map.level != '省'){
                            loadMapMarker('省');
                        }else if(map.getZoom()<=3 && map.level != '国'){
                            loadMapMarker('国');
                        }
                    });

                }else if(index === 2){

                }
            });

            var chart;

            $.ajax({
                url: '/manage/statistics/dayCount',
                dataType: 'json',
                cache: false
            }).done(function(result){
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'dayChart',
                        type: 'line'
                    },
                    title: {
                        text: '每日流量统计',
                        x: -20 //center
                    },
                    subtitle: {
                        text: '最近10天的访问计数',
                        x: -20
                    },
                    xAxis: {
                        categories: result.categories
                    },
                    yAxis: {
                        title: {
                            text: '访问量(PV)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            this.x +': '+ this.y + '次';
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        }
                    },
                    series: [{
                        name: '日流量',
                        data: result.data
                    }],
                    credits: {
                        enabled: false
                    }
                });
            });

            loadCompany(0,20);

        });


        function addMarker(item) {
            var marker = new MarkerWithLabel({
                position: new google.maps.LatLng(item.gisInfo.lat, item.gisInfo.lng),
                draggable: false,
                raiseOnDrag: false,
                map: map,
                title:item._id,
                labelContent: item.value,
                labelAnchor: new google.maps.Point(20, 0),
                labelClass: "labels", // the CSS class for the label
                labelStyle: {opacity: 1.00}
            });
            markers.push(marker);
        }

        function setAllMap(map) {
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(map);
            }
        }

        function clearOverlays() {
            setAllMap(null);
            markers = [];
        }

        function loadMapMarker(level){
            $.ajax({
                url: '/manage/statistics/gis',
                dataType: 'json',
                data: {
                    startDate: $('#mapStartDate').val(),
                    endDate: $('#mapEndDate').val(),
                    siteId: $('#mapSite').val(),
                    level: level
                },
                cache: false
            }).done(function(results){
                clearOverlays();
                var items = results.items;
                for(var i=0; i<items.length; i++){
                    var r = items[i];
                    if(r.gisInfo){
                        addMarker(r);
                    }
                }
                map.level = level;
            });

        }

        function loadCompany(pageNo, pageSize){
            if(pageNo >= 0){
                $('#companyPaginator').data('pageNo',pageNo);
            }else{
                pageNo = $('#companyPaginator').data('pageNo');
                pageNo = pageNo >=0 ? pageNo : 0;
            }
            if(pageSize >= 1){
                $('#companyPaginator').data('pageSize',pageSize);
            }else{
                pageSize = $('#companyPaginator').data('pageSize');
                pageSize = pageSize >=1 ? pageSize : 10;
            }
            $.ajax({
                url: '/manage/statistics/companyCount',
                dataType: 'json',
                data: {
                    pageNo: pageNo,
                    pageSize: pageSize,
                    startDate: $('#cpyStartDate').val(),
                    endDate: $('#cpyEndDate').val(),
                    siteId: $('#cpySite').val()
                },
                cache: false
            }).done(function(result){
                renderPaginator('companyPaginator', pageNo,result.totalCount,pageSize,loadCompany);
                var trHtmls = [];
                $.each(result.items, function(index,item){
                    trHtmls.push('<tr>');
                    trHtmls.push('<td style="width: 50px;text-align: center;">');
                    trHtmls.push(pageNo * pageSize +index+1);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="text-align: center;">');
                    trHtmls.push(item.day);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="text-align: center;">');
                    trHtmls.push(item.companyName);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="text-align: right;">');
                    trHtmls.push(item.count);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="width: 100px;text-align: center;">');
                    trHtmls.push('<button type="button" data-site-id="');
                    trHtmls.push(item.acId);
                    trHtmls.push('" data-date="');
                    trHtmls.push(item.day);
                    trHtmls.push('" data-company-name="');
                    trHtmls.push(item.companyName);
                    trHtmls.push('" class="btn btn-small btn-info">查看</button>');
                    trHtmls.push('</td>');
                    trHtmls.push('</tr>');
                });
                $('#companyBody').empty().html(trHtmls.join(''));
                $.each($('#companyBody tr'), function(index, tr){
                    $.data(tr,'item', result.items[index]);
                });
                $('#companyBody').on('click','.btn',function(e){
                    var siteId = $(this).data('site-id');
                    var date = $(this).data('date');
                    var companyName = $(this).data('company-name');
                    $('#pageDate').text(date);
                    $('#pageCompany').text(companyName);
                    $('#pageList').empty().html('<li>正在载入...</li>');
                    $.ajax({
                        url: '/manage/statistics/companyPages',
                        dataType: 'json',
                        data: {
                            date: date,
                            siteId: siteId
                        },
                        cache: false
                    }).done(function(pageList){
                        var trHtmls = [];
                        $.each(pageList, function(index,item){
                            trHtmls.push('<li><a target="_blank" ');
                            trHtmls.push('href="');
                            trHtmls.push(item._id['url'])
                            trHtmls.push('" >');
                            trHtmls.push(item._id['url'])
                            trHtmls.push('</a>');
                            trHtmls.push(' - ');
                            trHtmls.push('<span style="color: #D14;">');
                            trHtmls.push(item.value['count'])
                            trHtmls.push('次</span>');
                            trHtmls.push('</li>');
                        });
                        $('#pageList').empty().html(trHtmls.join(''));
                    }).fail(function(){
                        $('#pageList').empty().html('<li>载入出错.</li>');
                    });

                    $('#pageListModal').modal('show');
                });
            });
        }


        function renderPaginator(ulId,pageNo, totalCount, pageSize ,load){
            var $ul = $('#'+ulId).empty();
            var totalPage = totalCount % pageSize === 0 ? parseInt(totalCount/pageSize) : parseInt(totalCount/pageSize) + 1;
            totalPage = totalPage ? totalPage : 0;
            if(totalPage === 0){
                pageNo = 0;
            }else if(pageNo > totalPage){
                pageNo = totalPage;
            }else if(pageNo < 1 && totalPage != 0){
                pageNo = 0;
            }
            //
            var $prev = $('<li><a>«</a></li>');
            if(pageNo<=0){
                $prev.addClass('disabled');
            }else{
                $prev.find('a').on('click', function(e){
                    e.preventDefault();
                    load(pageNo-1,pageSize)
                });
            }
            $ul.append($prev);
            /////
            var list = [1];
            for(var i= 0; i < 5; i++){
                var no = pageNo - 2 + i;
                if(i==0 && no > 3){
                    list.push('...');
                }
                if(no > 1 && no <= totalPage-1){
                    list.push(no);
                }
            }
            if(pageNo+2 < totalPage-1){
                list.push('...');
            }
            if(totalPage>1){
                list.push(totalPage);
            }
            $.each(list, function(index, item){
                var $li = $('<li><a></a></li>');
                if(item === '...'){
                    $li.find('a').text('...');
                }else if(item === pageNo+1){
                    $li.addClass('active').find('a').text(item);
                }else{
                    $li.find('a').text(item).prop('title','第'+item+'页').on('click', function(e){
                        e.preventDefault();
                        load(item-1,pageSize);
                    });
                }
                $ul.append($li);
            });
            //
            var $next = $('<li><a title="下一页">»</a></li>');
            if(pageNo+1>=totalPage){
                $next.addClass('disabled');
            }else{
                $next.find('a').on('click', function(e){
                    e.preventDefault();
                    load(pageNo+1,pageSize);
                });
            }
            $ul.append($next);
        }
